.last-release {
  background-color: #111;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;         /* فاصله بین عکس و متن */
  box-shadow: 0 6px 20px rgba(0,0,0,0.6);
  flex-wrap: nowrap;  /* هیچ وقت ستون‌چین نشود */
  margin: 20px;
}

/* IMAGE */
.image-box {
  flex: 0 0 45%; /* 45 درصد عرض container */
  max-width: 120px; /* می‌تونی سایز ماکزیمم برای موبایل بذاری */
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
}

/* TEXT */
.text-box {
  flex: 0 0 55%; /* 55 درصد عرض container */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-link .small { font-size:16px; font-weight:400; }
.title-link .big { font-size:24px; font-weight:700; letter-spacing:2px; }
.subtitle { font-size:12px; margin-top:4px; color:#bbb; }

/* ===== MOBILE ===== */
@media(max-width:768px){
  .image-box { max-width: 45%; }
  .text-box { max-width: 55%; }
  header .nav-icons img { width:22px; height:22px; }
}
